# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\IdeaSpace\MyFactory\aliyun-oss\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
